
.FAVPNG_leaves_rkB7hhB5 {
  background-image: url(./images/favpng-leaves-rk-b-7-hh-b-5.png);
  z-index: 2;
  width: 36.25rem;
  height: 45rem;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
  position: relative;
  left: 68.75rem;
  bottom: 13.75rem;
}

.car-type-div {
  margin: 0;
}

.car-select-div {
  align-content: center;
}

.car-select-button {
  margin: 1.875rem auto;
  width: 25rem;
  height: 2.8125rem;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #DD5F29;
  border: 0.1875rem solid #EA9034;
  color: white;

}

.car-select-button-text {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375rem;
  margin: 0;
}

.pick-up-searchbar {
  width: 25rem;
  height: 1.75rem;
  font-family: Avenir;
  font-size: 0.875rem;
  font-weight: 500;
  border: 0.1875rem solid #DD5F29;
  margin: 1.25rem 0rem 0rem 1.25rem;
}

.different-location-checkbox {
  height: 25px;
  width: 25px;
  margin: 10px 0px 10px 20px;
  border: 3px solid #DD5F29;
}

.select-time {
  width: 130px;
  height: 28px;
  font-size: 14px;
  font-weight: 500;
  border: 3px solid #DD5F29;
  margin: 0px 10px;
}

.location-checkbox {
  display: inline;
  font-size: 14px;
  color: white;
  top: 10px;
  margin-left: 10px;
}

.location-checkbox-div {
  display: inline;
  align-items: center;
  justify-content: center;
}

.landing-date-time {
  margin: 10px 0px;
}

.select-dates {
  width: 285px;
  height: 28px;
  font-size: 14px;
  font-weight: 500;
  border: 3px solid #DD5F29;
  margin: 10px 30px 10px 20px;
}

.select-car {
  width: 285px;
  height: 28px;
  font-size: 14px;
  font-weight: 500;
  border: 3px solid #DD5F29;
  margin: 0px 30px 0px 20px;
}

.blue-div {
  background-color: #0b285c;
  position: relative;
  width: 750px;
  height: 300px;
  margin: auto;
  bottom: 650px;
}

.GO-GREENER {
  width: 18.5rem;
  height: 2.625rem;
  object-fit: contain;
  font-family: Avenir;
  font-size: 1.75rem;
  font-weight: 900;
  color: #0b285c;
}

.landing-div {
  z-index: 1;
  width: 100%;
  height: 44.5rem;
  border: solid 0.0625rem #979797;
  background-image: linear-gradient(#2d5da6, #c9dbf5);
}

.small-orange-rectangle {
  background-image: url(./images/rectangle-2.png);
  width: 18.5rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem auto;
  padding: 0rem;
  text-align: center;
  position: relative;
  z-index: 3;
}

.big-orange-rectangle {
  width: 42.125rem;
  height: 4.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem auto;
  padding: 0rem;
  text-align: center;
  box-shadow: -0.125rem 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.5);
  background-image: url(./images/rectangle-2@2x.png);
  position: relative;
  z-index: 4;
}

.center-orange-divs {
  margin-top: 5rem;
  position: relative;
  /* z-index: ; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
