.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.select-a-car-bar {
  min-height: 3.125rem;
  min-width: 100%;

  max-width: 100%;
  max-height: 100%;
  content: ' ';
  background-repeat: no-repeat;
  margin-top: 2rem;
  
  /* display: flex; */
  justify-content: center;
}

.blue-bar {
  min-height: 100vw;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  content: ' ';
  background-repeat: no-repeat;
  justify-content: center;
  margin: 0;
}

.select-car-div {
/* display: flex; */
/* width: 100vw; */
/* height: 100vh; */
}

