.FAVPNG_leaves_rkB7hhB5 {
  background-image: url(./images/favpng-leaves-rk-b-7-hh-b-5.png);
  width: 36.25rem;
  height: 45rem;
  position: relative;
  left: 66.75rem;
  bottom: 13.75rem;
}

.car-type-div {
  margin: 0;
  position: relative;
  display: inline-block;
  
}

.car-select-div {
  align-content: center;
}

.car-select-link {
  text-decoration: none;
}

.car-type-buttons {
  display: block;
  border: none;
  width: 100%;
  font-size: 14px;
  width: 100%;
}

.calendar-dropdown {
  background-color: #fcfcfc;
  color: black;
  padding: 6px;
  font-size: 14px;
  border: 0.1875rem solid #DD5F29;
  width: 294px;
  text-align: left;
}

.calendar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.calendar-div {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 10px;
}

/* .calendar-dropdown-content Calendar {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

/* .vehicle-dropdown-content Calendar:hover {
  background-color: #ddd;
  cursor: pointer;
} */

.calendar-div:hover .calendar-dropdown-content {display: block;}

.drop-vehicle-button {
  background-color: #fcfcfc;
  color: black;
  padding: 6px;
  font-size: 14px;
  border: 0.1875rem solid #DD5F29;
  width: 294px;
  text-align: left;
}

.vehicle-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 10px;
}

.vehicle-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.vehicle-dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.vehicle-dropdown-content button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.vehicle-dropdown:hover .vehicle-dropdown-content {display: block;}

.vehicle-dropdown:hover .drop-vehicle-button {background-color: #ddd;}

.car-select-button {
  margin: 1.875rem auto;
  width: 25rem;
  height: 2.8125rem;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #DD5F29;
  border: 0.1875rem solid #EA9034;
  color: white;
}

.car-select-button:hover {
  cursor: pointer;
}

.car-select-button-text {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375rem;
  margin: 0;
}

.pick-up-searchbar {
  width: 25rem;
  height: 1.75rem;
  font-family: Avenir;
  font-size: 0.875rem;
  font-weight: 500;
  border: 0.1875rem solid #DD5F29;
  margin: 1.25rem 1.875rem 0rem 1.25rem;
}

.select-time {
  width: 8.125rem;
  height: 1.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: 0.1875rem solid #DD5F29;
  margin: 0rem 0.625rem;
}

.location-checkbox {
  display: inline;
  font-size: 0.875rem;
  color: white;
  top: 0.625rem;
  margin-left: 0.625rem;
}

.location-checkbox-div {
  display: inline;
  align-items: center;
  justify-content: center;
}

.landing-page-date-time-div {
  margin: 0.625rem 0rem;
}

.select-dates {
  width: 285px;
  height: 28px;
  font-size: 14px;
  font-weight: 500;
  border: 3px solid #DD5F29;
  margin: 10px 30px 10px 20px;
}

.blue-div {
  background-color: #0b285c;
  position: relative;
  width: 750px;
  height: 300px;
  margin: auto;
  bottom: 650px;
}

.GO-GREENER {
  width: 18.5rem;
  height: 2.625rem;
  object-fit: contain;
  font-family: Avenir;
  font-size: 1.75rem;
  font-weight: 900;
  color: #0b285c;
}

.landing-div {
  z-index: 1;
  width: 100vw;
  height: 44.5rem;
  border: solid 0.0625rem #979797;
  background-image: linear-gradient(#2d5da6, #c9dbf5);
}

.small-orange-rectangle {
  background-color: #ea9034;
  width: 18.5rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem auto;
  padding: 0rem;
  text-align: center;
  position: relative;
  z-index: 2;
}

.big-orange-rectangle {
  background-color: #ea9034;
  width: 42.125rem;
  height: 4.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem auto;
  padding: 0rem;
  text-align: center;
  box-shadow: -0.125rem 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 3;
}

.center-orange-divs {
  margin-top: 5rem;
  position: relative;
  /* z-index: ; */
}

.Nav{
  display: flex;
  text-align: right;
}
.BUDGET-LOGO {
  background-image: url('./images/budget-logo.png');
  width: 15.938rem;
  height: 4.688rem;
  object-fit: contain;
  margin-left: 3.063rem;
  margin-top: 0.563rem;
  margin-bottom: 0.344rem;
  /* display: inline; */
}
.Navlinks{
  display: inline-flex;
  align-self: flex-end;
  /* justify-content: flex-end; */
  background-color: #c9dbf5;
  /* align-items: flex-end; */
  /* flex-wrap: nowrap; */
}
.Business-Rentals-Car{
  width: 29.5rem;
  
  height: 1.25rem;
  font-family: Avenir;
  font-size: 0.938;
  font-weight: 900;
  /* color: #ea9034; */
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--terra-cotta);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-self: unset; */
  /* text-align: right; */
  /* justify-self: right; */
  /* margin-right: 1rem;  */
  background-color: orange;
}
.Business-Rentals-Car a{
  text-decoration: none;
  text-align: right;
}
.Reservations-Deals-L{
  width: 35.5rem;
  height: 2.5rem;
  object-fit: contain;
  font-family: Avenir;
  font-size: 1.25rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--marine);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-end;
  background-color: violet;
}
.Reservations-Deals-L a{
  text-decoration: none;
}

.homebutton {
  background-image: url('./images/budget-logo.png');
  width: 15.938rem;
  height: 4.688rem;
  object-fit: contain;
  margin-left: 3.063rem;
  margin-top: 0.563rem;
  margin-bottom: 0.344rem;
}
.resultsnav {
  display: flex;
  width: 472px;
  height: 25px;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--terra-cotta);
  align-self: center;
  justify-content: space-around;
  margin-left: 33rem;
}
.resultsnav a{
  text-decoration: none;
}
.togglebar{
  background-image: url('./images/Group.png');
  background-repeat: no-repeat;
}
.rate-calc{
  display: flex;
  justify-content: flex-end;
  /* background-color: royalblue; */
  
}
.reservation-info{
  display: flex;
  flex: auto;
  border-bottom: grey solid .09rem;
  margin-top: 3rem;
}
.pick-up{
  margin-left: 5rem;
}
.drop-off{
  margin-left:13rem
}
.calculator{
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: row;
}
.titles{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 900;
}
.prices{
  /* background-color: rosybrown ; */
  margin-left: 6.125rem;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-right: 2.813rem;
}
.extras{
  /* margin-top: 50rem; */
  /* background-color: rgb(135, 140, 155); */
  border-bottom: grey solid .09rem;
  color: black;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.checkout-button{
  background-color: orangered;
  color: white;
  padding: 10px 30px ;

}
.options{
  /* background-color: salmon; */
  display: flex;
  flex-direction: column;
  width: 44rem;
}

.options-2{
  /* background-color: seagreen; */
  /* width: 44rem; */
}
.button{
  background-color: #ea9034;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 2.813;
  width: 15rem;
  padding: 20px;
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
}
h3{
  color: #dd5f29
}
.protections{
  /* background-color: palegreen; */
  width: 20rem;
  height: 2.188rem;
}

.select-a-car-bar {
  min-height: 3.125rem;
  min-width: 100%;

  max-width: 100%;
  max-height: 100%;
  content: ' ';
  background-repeat: no-repeat;
  margin-top: 2rem;
  margin-left: 3rem;

}

.blue-bar {
  min-height: 3.125rem;
  min-width: 100%;
  max-width: 3.125rem;
  max-height: 100%;
  content: ' ';
  background-repeat: no-repeat;
  justify-content: center;
  margin: 0;
}

.blue-bar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

.blue-bar-container {
  position: relative;
  text-align: center;
}


.car-filter {
  background-image: url(./images/Filtervehicle.png);
  background-size: cover;
  display: inline-block;
  overflow: auto;
  min-height: 100%;
  height: 2.5rem;
  width: 20.125rem;
  margin-top: 0.5625rem;
}

.car-type {
  background-image: url(./images/CarType.png);
  background-size: cover;
  display: inline-block;
  overflow: auto;
  min-height: 100%;
  height: 2.5rem;
  width: 20.125rem;
  margin-top: 0.5625rem;

}


.car-filter-container {
  display: flex;
  position: relative; 
  height: 2.5rem;
  margin-left: 17.6875rem;
  margin-right: 17.6875rem;
  justify-content: space-evenly;
}

.economy-car-picture{
  background-image: url(./images/Elantra.png);
  background-size: cover;
  min-height: 100%;
  width: 24.25rem;
  height: 16.125rem;
}

.compact-car-picture {
  background-image: url(./images/ford_PNG12240.png);
  background-size: cover;
  min-height: 100%;
  width: 27.25rem;
  height: 3rem;
}

.single-car-info-container {
  display: flex;
  height:17.5rem;
  width: 100%;
  margin: 5rem;
  justify-content: space-evenly;
}

.car-info {
  display: flex;
font-size: 12px;
flex-direction: row;
}

.car-info-header {
  margin: 5px;
  padding: 0px;
  font-size: 45px;
}

.car-name-header {
  margin: 5px;
  padding: 0px;
  font-size: 30px;
}


